.container {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 5em 0;
  justify-content: center;
}

.fileIcon {
  padding: 0 !important;
}

.removeIcon {
  padding-left: 1em;
  cursor: pointer;
}

.arrowButton {
  margin-left: 0.5em !important;
  cursor: pointer;
}

.removeIcon {
  padding-left: 1em;
  cursor: pointer;
}

span.gray {
  color: rgba(0, 0, 0, 0.5) !important;
  font-weight: normal;
}

@media screen and (max-width: 700px) {
  .container {
    height: auto;
    width: 100%;
    padding: 2em;
    margin: 0;
  }
}
