.container {
  max-width: calc(870px + 2em);
  margin: 0 auto;
  padding: 5em 0;
}

.container > .header {
  margin-bottom: 2em;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .container {
    max-width: calc(580px + 1em);
  }
}

@media screen and (max-width: 700px) {
  .container {
    max-width: 100%;
    width: 100%;
    padding: 2em;
    margin: 0;
  }

  .container > .header {
    margin-bottom: 1em;
  }
}
