.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container > form {
  width: 450px;
}

@media screen and (max-width: 700px) {
  .container > form {
    width: calc(100% - 4em);
  }
}
